body {
  width: 100%;
  background-color: #F8F8F8;
  font-family: "微软雅黑", Arial;
}

/* header { */
.header {
  height: 50px;
  background-color: #434343;
  margin: 0 auto;
  border-bottom: 1px solid #434343
}

.header .logo {
  font-size: 24px;
  text-align: center;
  color: #fff;
  background-color: #0074A2;
  float: left;
  width: 150px;
  height: 50px;
  border: 0;
  line-height: 50px;
}

.header .user {
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background-color: #0074A2;
  float: right;
  width: 120px;
  height: 50px;
}

.header .user a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
}
.header .title{color: #3578B1;
  font-size: 24px;}
.header .user .user-sub-menu {
  background-color: #434343;
  width: 120px;
  height: 100px;
  display: none;
  text-align: left;
}

.header .user .user-sub-menu li {
  padding-left: 10px;
}
/*.header form{
  color: #333;
}
.header .control-label{padding-top: 0px;}
.header .input{padding-top: 7px;}*/
.header .user .user-sub-menu li a:hover {
  opacity: 0.5;
}

/* header } */

.container {
  width: 100%;
  padding-left: 150px;
  border-top: 1px solid #434343;
}

/* side bar { */
.sidebar {
  width: 150px;
  height: 100%;
  min-height: 557px;
  float: left;
  margin-left: -150px;
  background-color: #0074A2;
}

.sidebar > ul {
  padding: 0px;
}

.sidebar ul > li {
  list-style: none;
  width: 150px;
  min-height: 40px;
  background-color: #0074A2;
  line-height: 40px;
  border-bottom: 1px solid #165168
}

.sidebar .cur, .sidebar .sub-menu > li {
  background-color: #165168;
}

.sidebar .cur {
  border-right: 5px solid #fffc04;
}

.sidebar a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}

.sidebar a:hover {
  text-decoration: none;
  opacity: 0.5;
}

.sidebar .sub-menu {
  display: none;
}

.sidebar .sub-menu.show {
  display: block;
}

.sidebar .sub-menu > li {
  padding-left: 40px;
}

.sidebar i {
  width: 40px;
  text-align: center;
}

/* side bar } */

.main {
  overflow: hidden;
  width: 100%;
}

.main .title {
  padding-top: 70px;
  padding-left: 20px;
  font-size: 28px;

}

.content .sm-title {
  color: #999999;
  font-size: 18px;
  line-height: 2em;
}

.main .content {
  min-height: 300px;
  background-color: #fff;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #DCDCDC
;
  padding: 20px;
}

.star{color: red}

.table-list {
  overflow: hidden;
  border: 1px solid #dcdcdc;
  border-bottom: 0;
}

.table-list > li {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 15px;
  min-height: 40px;
  line-height: 40px;
}

.footer{
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #434343;
  padding-top: 10px;
}