<div class="sidebar" id="sidebar">
  <div class="frame">
    <h2 class="h2"><p>个人档案</p></h2>
    <div class="personal-file">
      <div class="figure"><img src="__PUBLIC__/upload/img/{$info.logo}"></div>
      <p>姓名：莫伦辉</p>
      <p>网名：莫俊文</p>
      <p>主页：<a href="__ROOT__/home">www.Allen.com</a> </p>
      <p>现居：肇庆市-肇庆学院</p>
      <p>职业：学生</p>
      <p>爱好：足球、动漫</p>
    </div>
  </div>

  <div class="frame">
    <h2 class="h2"><p>博客分类</p></h2>
    <ul class="list list-s1" data-role="accordion">
        <foreach name="navigation" item ="nav" key="k">
          <li>
            <i class="arrow_carrot-2right" data-role="click-it"></i><a href="__ROOT__/article/list/{$nav.id}">{$nav.name}(<php>echo(count($nav['children:']))</php>)</a>
            <ul class="child-list">
              <for start="0" end="count($nav['children:'])">
                <!--<li><a href="__ROOT__/article/{$nav.title}" >{$nav['children:'][$i]['name']}</a></li>-->
                <li><a href="__ROOT__/Article2/{$nav['children:'][$i]['name']}">{$nav['children:'][$i]['name']}</a> </li>
              </for>
            </ul>
          </li>
        </foreach>
    </ul>
  </div>

  <div class="frame">
    <h2 class="h2"><p>近期文章</p></h2>
    <ul class="list list-s2">
      <volist name="lastArticle" id="art">
        <li><a href="__ROOT__/home/article/{$art.id}">{$art.title}</a> </li>
      </volist>
    </ul>
  </div>

  <div class="frame">
    <h2 class="h2"><p>友情链接</p></h2>
    <ul class="list list-s2">
      <li><a href="http://weibo.com/u/2853059680/home?wvr=5&sudaref=www.hao123.com" target="_blank">我的微博</a></li>
    </ul>
  </div>
</div>