<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>网站设置</title>
  <include file="Public/style"/>

</head>

<body>

<include file="Public/header"/>
<div class="container">
  <include file="Public/sidebar"/>
  <div class="main web">
    <div class="title"><strong>网站设置</strong>
    </div>
    <div class="content">
      <form class="form-horizontal" role="form" style="width: 365px;" action="{:U(runEdit)}" method="post">
        <div class="form-group">
          <label class="control-label col-md-4"><span class="star">*</span> 网站名称：</label>

          <div class="col-md-8">
            <input value="{$site.name}" class="form-control required" title="Please type a website name" type="text"
                   name="name"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4">网站 Logo：</label>

          <div class="col-md-8">
            <notempty name="site['logo']">
              <img id="logo_img" src="__PUBLIC__/upload/img/{$site.logo}" alt="LOGO"/>
            </notempty>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4"></label>

          <div class="col-md-8">
            <input id="file1" type="file"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4"></label>

          <div class="col-md-8">
            <input type="hidden" value="{$site.id}" name="id"/>
            <input type="hidden" value="{$site.logo}" name="logo"/>
            <input class="btn btn-primary" type="submit" value="保存"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<include file="Public/footer"/>
</body>
<include file="Public/script"/>
<script src="__PUBLIC__/js/lib/uploadify/jquery.uploadify.js"></script>
<script>
  $(function () {
    $("#file1").uploadify({
      width: 80,
      height: 30,
      swf: '__PUBLIC__/js/lib/uploadify/uploadify.swf',
      uploader: "{:U('uploadLogo')}",
      buttonText: "上传图片",
      onUploadSuccess: function (file, data, respone) {
        var jsonData = JSON.parse(data);
        if (jsonData.status === 'ok') {
          $("input[name=logo]").val(jsonData.data);
          $("#logo_img").attr('src', '__PUBLIC__/upload/img/' + jsonData.data);
        } else {
          alert('上传失败!');
        }
      }
    });
  });
</script>
</html>