<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>文章管理</title>
<include file="Public/style"/>
</head>

<body>
<include file="Public/header"/>
  <div class="container">
    <include file="Public/sidebar"/>
    <div class="main all-article">
      <h3 class="title "><strong>文章管理</strong></h3>
      <div class="content">
        <table class="table">
          <thead>
            <tr class="row">
              <th class="col-md-4">标题</th>
              <th class="col-md-2">所属栏目</th>
              <th class="col-md-2">发表时间</th>
              <th class="col-md-4">操作</th>
            </tr>
          </thead>
          <tbody class="table-condensed">
            <volist name="articles" id="article">
              <tr class="row">
                <td class="col-md-4">{$article.title}</td>
                <td class="col-md-2">{$article.category}</td>
                <td class="col-md-2">{$article.post_time|date="Y-m-d H:i", ###}</td>
                <td class="col-md-4">
                  <a href="{:U('edit', '', '')}/id/{$article.id}">编辑</a>
                  <form action="{:U('runDelete')}" method="post">
                    <input type="hidden" value="{$article.id}" name="id"/>
                    <button type="submit">删除</button>
                  </form>
                </td>
              </tr>
            </volist>
          </tbody>
        </table>
        <div class="text-center">
          <ul class="pagination">
            <li>
              <if condition="$page['page'] eq 1">
                <span>上一页</span>
                <else/>
                <a href="{:U('articleList', '', '')}/page/{$page['page'] - 1}">上一页</a>
              </if>
            </li>
            <for start="1" end="$page['page_count'] + 1">
              <li>
                <if condition="$i eq $page['page']">
                  <span>{$page.page}</span>
                  <else/>
                  <a href="{:U('articleList', '', '')}/page/{$i}">{$i}</a>
                </if>
              </li>
            </for>
            <li>
              <if condition="$page['page'] egt $page['page_count']">
                <span>下一页</span>
                <else/>
                <a href="{:U('articleList', '', '')}/page/{$page['page'] + 1}">下一页</a>
              </if>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<include file="Public/footer"/>
<include file="Public/script"/>
</body>

</html>