.articleStyle {
  width: 99%;
  margin: 20px 5px 50px 5px;
  overflow: hidden;
  background-color: #F2EDEA;
  border-radius: 15px;
}

.articleStyle .post_time {
  background: url(../Home-images/blogbgs.png) no-repeat right;
}

.articleStyle h2 {
  line-height: 29px;
  height: 29px;
  font-size: 14px;
  color: #3b3b3b;
  padding: 20px 0 15px 20px;
}

.articleStyle h2 a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #5d5d5d;
  position: relative;
}

.articleStyle h3 {
  text-align: center;
  font-weight: bold;
}

.articleStyle p {
  line-height: 2;
  padding: 5px 0 15px 20px;
}

.article-more-link a {
  text-indent: 0;
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #E8DFD8;
  font-size: 14px;
  color: #5D5D5D;
  text-shadow: 0 1px #FFF;
  text-decoration: none;
}

.article-more-link a:hover {
  background-color: #5d5d5d;
  color: #FFF;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin-left: 280px;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #5d5d5d;
  text-decoration: none;
  background-color: #F2EDEA;
  border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #fff;
  background-color: #5d5d5d;
  border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.ds-thread {
  background-color: #F2EDEA;
  border-radius: 5px;
  padding: 10px;
}
