body{
  font-size:12px;
  background:#E8DFD8 url(../Home-images/top.jpg)  50% top scroll no-repeat;
  color:#5d5d5d;
  font-family: "微软雅黑";
}

/*a:hover{left: 20px;}*/
.header{
  width: 1000px;
  padding: 40px 0;
  margin: auto;
  line-height: 2;
}
.h1{font-size: 22px;}
.h2{font-size: 14px;font-weight: bold;}

.header h1 a{
  text-decoration: none;
  font-size: 22px;
  color: #000000;
  font-weight: bold;
  text-shadow: #FFFFFF 1px 1px 1px;
  position: relative;
}

.header .word{
  text-decoration: none;
  color: #5d5d5d;
  margin-left: 2em;
  position: relative;
}
.nav-swf{
  width: 1000px;
  position: relative;
  margin: auto;
}
.nav{
  display: block;
  width: 1000px;
  height: 40px;
  line-height: 40px;
  margin: auto;
  position: absolute;
  top: 30px;
  left: 60px;
}

.nav ul li {
  text-align: center;
  display: block;
  width: 100px;
  float: left;
}

.nav ul li a{
  left: 0px;
  display: block;
  text-decoration: none;
  color: #fff;
  position: relative;
}
.nav li a:hover{
  font-weight: bold;
  font-size: 14px;
}
.container{
  width: 1030px;
  min-height: 300px;
  margin: 0 auto;
  /*background: url(../Home-images/sidebg.png) 630px bottom no-repeat;*/
  overflow: hidden;
}

.main{
  width: 745px;
  float: left;
  clear: left;
}

.sidebar{
  width: 276px;
  float: right;
  overflow: hidden;
}

.sidebar .frame{
  margin-bottom: 60px;
}
.sidebar h2{
  color: #fff;
  font-family: "微软雅黑";
  width: 100%;
  margin: 10px 0;
  border-bottom: 1px solid #FFFFFF;
}

.sidebar h2 p{
  width: 180px;
  height: 24px;
  margin: 15px 0 0 40px;
  padding-top: 5px;
  background-color: #333333;
  text-align: center;
}

.sidebar .figure{
  margin-left: 0px;
}
.figure img {
  width: 200px;
  height: 150px;
  background-image: center top;
}

.personal-file{
  line-height: 2;
  margin-left: 40px;
}

.personal-file a{
  color: #099;
}

.frame .list{
  margin: 20px 0 0 40px;
  list-style: none;
  line-height: 2;
}

.frame .list-s2 li{
  background: url("../Home-images/list.gif") left no-repeat;
}

.frame .list li>ul{
  display: none;
}
/*.frame .more li{
  background: none;
}*/
.list-s1 li>ul>li{width: 200px;}
.list-s1 li>a:hover{left: 0px;}

.list-s1 li>ul li{
  margin-left: 15px;
  padding-left: 10px;
  background: url("../Home-images/list.gif") left no-repeat;
}
.list-s1 i{
  color: red;
  cursor: pointer;
}

.list li a{
  text-decoration: none;
  color: #5d5d5d;
  position: relative;
  padding-left: 20px;
}
.list-s1 li a{
  text-decoration: none;
  color: #5d5d5d;
  position: relative;
  padding-left: 5px;
}


.footer{
  line-height: 40px;
  margin-top: 15px;
  height: 40px;
  width: 100%;
  font-size: 20px;
  font-family: 'Arizonia', cursive;
  text-align: center;
  border-top: 1px dashed #FFFFFF;
}